
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 ">
                <h3 class="alert alert-success">THÔNG TIN LIÊN HỆ</h3>
                <span class="glyphicon glyphicon-globe" style="font-size:16px;color:#ef4339;font-weight:600"></span> &nbsp; Siêu thị điện máy xanh <br /><br />
                <span class="glyphicon glyphicon-link" style="font-size:16px;color:#ef4339;font-weight:600"></span> &nbsp; <b>Địa chỉ:</b> Điện Biên Phủ , Thanh Khê , Đà Nẵng, Việt Nam <br /><br />
                <span class="glyphicon glyphicon-earphone" style="font-size:16px;color:#ef4339;font-weight:600"></span> &nbsp; <b>Điện thoại:</b> 0982977490
                <br />
            
                <p>Hãy liên hệ ngay với chúng tôi để được nhận những thông tin tư vấn về sản phẩm cùng nhiều ưu đãi hấp dẫn dành cho bạn!</p><br />
               
                </div>
            </div>
        </div>
    </div>


