@model IEnumerable<ModelEF.Model.Category>
@{
    ViewBag.Title = "Home Page";
}
<div>
    @foreach (var c in Model)
    {
        var items = c.Products.ToList().Take(4);
        <div class="nn-block-margin-top30px">
            <figure style="background-color:#fff;display:block;">
                <h2 style="background-color:#fed101">@c.Name</h2>
            </figure>
            <i class="glyphicon glyphicon-tags"></i>
            <br />
            @foreach (var d in items)
            {
                <div class="col-md-3" style="border-right: 1px solid #eee;border-bottom: 1px solid #eee;border-left: 1px solid #eee;border-top: 1px solid #eee">
                    <div class="nn-product-box">
                        <a href="/Product/Detail/@d.ID" style="padding-top:5%">
                            <img class="zoom img-responsive" src="~/Content/Image Phones/Iphone/@d.Image" />
                        </a>
                        <div class="nn-product-box-descriptions">
                            <h3 class="nn-product-box-name">
                                <a href="/Product/Detail/@d.ID" title="Điện thoại chính hãng" data-id="@d.ID">@d.Name</a>
                            </h3>
                            <div class="nn-product-box-price ">
                                <span class="" style="color:red;font-weight:bold">@Html.FormatValue(d.UnitCost, "{0:#,##0}")&#8363;</span>
                            </div>                            
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
    }
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <img src="~/Images/mp.png" alt="" style="width:100% ;height:auto" />
    </div>
    <style>
        .zoom {
            padding: 10px;
            transition: transform .3s;
            margin: 0 auto;
            overflow: hidden;
        }

        .zoom:hover {
            -ms-transform: scale(1.15); /* IE 9 */
            -webkit-transform: scale(1.15); /* Safari 3-8 */
            transform: scale(1.15);
            overflow: hidden;
        }
    </style>
</div>
