
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutTinTuc.cshtml";
}

<section class="page">
    <div class="container">
        <div class="pg_page" style="padding-top: 15px !important;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="page-title category-title">
                        <h1 class="title-head"><a style="text-decoration:none" href="/TinTuc/Gioithieu">Giới thiệu</a></h1>
                    </div>
                    <div class="content-page rte">
                        <p><strong>Về chúng tôi&nbsp;</strong>:</p>
                        <p>
                            Siêu thị Điện máy XANH khai trương siêu thị đầu tiên tại 561 Xô Viết Nghệ Tĩnh, Phường 26, Quận Bình Thạnh, Tp.HCM tháng 12/2010. Đến nay, hệ thống siêu thị Điện máy XANH đã mở rộng ra với 1676 siêu thị toạ lạc tại 63 tỉnh thành lớn cùng hơn 10.000 nhân viên.
                        </p>
                        <p>Siêu thị Điện máy XANH đã đăng ký hoạt động thương mại điện tử với Bộ Công Thương (xem giấy phép kinh doanh thương mại điện tử với bộ công thương) tháng 11/2011. Chúng tôi cam kết 100% sản phẩm trên Điện máy XANH là hàng chính hãng.</p>
                        <p><strong>Hàng hóa vô cùng phong phú đa dạng&nbsp;</strong>:</p>
                        <p>Hàng hoá tại Siêu thị Điện máy XANH vô cùng đa dạng, từ các nhóm hàng lớn như Tivi, Tủ Lạnh, Máy Giặt, Máy Lạnh… đến các nhóm hàng Gia dụng như: Nồi Cơm Điện, Bếp Ga, Bếp Điện Từ… Điện máy XANH cũng kinh doanh các mặt hàng như: Điện Thoại, Máy Tính Bảng, Laptop, Phụ Kiện…</p>
                        <p><strong>Tổng đài Hỗ trợ khách hàng&nbsp;</strong>:</p>
                        <p>Tổng đài bán hàng (7:30 - 22:00) 1800.1061 (miễn phí)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

